.hero img{
    height: 40rem;
    object-fit: cover;
    object-position: center;
    filter: brightness(90%);
}

.hero li{
    list-style: none;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
}

.hero .carousel-caption{
    top: 50%;
    text-align: start;
}

.hero .carousel-caption h3{
    font-style: italic;
    font-size: 4rem;
    
}